In [1]:
#Required Libraries

import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
df1 = pd.read_csv("Datasets\Amazon_india_2015.csv")
df1.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [3]:
df1.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [4]:
df2 = pd.read_csv("Datasets\Amazon_india_2016.csv")

In [5]:
df3 = pd.read_csv("Datasets\Amazon_india_2017.csv")

In [6]:
df4 = pd.read_csv("Datasets\Amazon_india_2018.csv")
df5 = pd.read_csv("Datasets\Amazon_india_2019.csv")
df6 = pd.read_csv("Datasets\Amazon_india_2020.csv")
df7 = pd.read_csv("Datasets\Amazon_india_2021.csv")
df8 = pd.read_csv("Datasets\Amazon_india_2022.csv")
df9 = pd.read_csv("Datasets\Amazon_india_2023.csv")
df10 = pd.read_csv("Datasets\Amazon_india_2024.csv")
df11 = pd.read_csv("Datasets\Amazon_india_2025.csv")

In [7]:
dfs = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11]

amazon_dataset = pd.concat(dfs,ignore_index=True)

In [8]:
amazon_dataset.shape

(1127609, 34)

In [9]:
amazon_dataset.to_csv("Amazon_dataset.csv",index = False)

In [10]:
df12 = pd.read_csv("Amazon_dataset.csv")
df12.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [11]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 292.5+ MB

In [ ]:
# 1. Clean and standardization of all dates to 'YYYY-MM-DD' format



dateFormats = ['%Y-%m-%d', '%d-%m-%Y', '%m-%d-%Y',
               '%Y/%m/%d', '%d/%m/%Y', '%m/%d/%Y',
               '%Y.%m.%d', '%d.%m.%Y', '%m.%d.%Y'
               ] 
df12['original_order_date'] = df12['order_date']

def parseDate(x):
    x = str(x).strip()
    for date in dateFormats:
        try:
            return pd.to_datetime(x, format=date)
        except:
            continue
    return pd.NaT

df12['order_date'] = df12['order_date'].apply(parseDate)
df12['is_valid_date'] = df12['order_date'].notna()

In [14]:
df12

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating,original_order_date,is_valid_date
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,5.0,Delivered,1,2015,1,0.19,True,4.7,2015-01-25,True
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,4.5,Delivered,1,2015,1,0.20,True,4.1,2015-01-05,True
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,NaN,Delivered,1,2015,1,0.17,True,3.3,2015-01-24,True
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,3.0,Delivered,1,2015,1,0.22,True,3.5,2015-01-28,True
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,4.0,Delivered,1,2015,1,0.20,True,4.1,2015-01-31,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127604,TXN_2025_00019019_DUP,2025-04-07,CUST_2022_00004500,PROD_000136,Samsung Galaxy S7 Edge 16GB Blue,Electronics,Smartphones,Samsung,67658.04,0.00,...,3.5,Delivered,4,2025,2,0.16,True,3.4,2025-04-07,True
1127605,TXN_2025_00053859_DUP,2025-10-09,CUST_2025_00013666,PROD_000527,Samsung Galaxy A50 64GB White,Electronics,Smartphones,Samsung,19905.88,24.29,...,3.5 stars,Delivered,10,2025,4,0.20,False,4.2,09-10-2025,True
1127606,TXN_2025_00030006_DUP,2025-06-29,CUST_2025_00011941,PROD_000839,Samsung Galaxy Note 21 256GB White,Electronics,Smartphones,Samsung,75655.18,30.26,...,4.0,Delivered,6,2025,2,0.22,True,4.1,2025-06-29,True
1127607,TXN_2025_00066716_DUP,2025-11-21,CUST_2025_00000199,PROD_001581,ASUS Gaming 4GB RAM Black,Electronics,Laptops,ASUS,125461.24,0.00,...,4.5,Delivered,11,2025,4,2.57,False,3.0,2025-11-21,True
1127608,TXN_2025_00039367_DUP,2025-07-26,CUST_2025_00019685,PROD_001191,Realme Realme C55 128GB Blue,Electronics,Smartphones,Realme,15852.16,0.00,...,4.0,Delivered,7,2025,3,0.24,True,3.7,2025-07-26,True

In [15]:
df12['is_valid_date'].value_counts()

True    1127609
Name: is_valid_date, dtype: int64

In [17]:
df12['original_price_inr']

0          123614.29
1           54731.86
2           97644.25
3          21,947.26
4           54731.86
             ...
1127604     67658.04
1127605     19905.88
1127606     75655.18
1127607    125461.24
1127608     15852.16
Name: original_price_inr, Length: 1127609, dtype: object

In [ ]:
# 2. Cleaning column to contain only numeric values in Indian Rupees.


def parsePrice(x):
    x = str(x).replace(",","").strip()
    x = ''.join(c for c in x if c.isdigit() or c=='.')
    try:
        return float(x)
    except:
        return pd.NA

df12['before_parse_price'] = df12['original_price_inr']
df12['original_price_inr'] = df12['original_price_inr'].apply(parsePrice)

In [21]:
df12['original_price_inr']

0          123614.29
1           54731.86
2           97644.25
3           21947.26
4           54731.86
             ...
1127604     67658.04
1127605     19905.88
1127606     75655.18
1127607    125461.24
1127608     15852.16
Name: original_price_inr, Length: 1127609, dtype: float64

In [ ]:
# 3.Standardization of all ratings to numeric scale 1.0-5.0


def parseCustomerRating(x):
    x = str(x).replace("/5","").strip()
    i=0
    x1=""
    for c in x:
        x1+=c
        i+=1
        if i==3:
            break
    return float(x1)

df12['original_customer_rating'] = df12['customer_rating']
df12['customer_rating'] = df12['customer_rating'].apply(parseCustomerRating)
#Filling null values with overall product rating from dataset
df12['customer_rating'] = df12['customer_rating'].fillna(df12['product_rating'])

In [24]:
df12['customer_rating']

0          5.0
1          4.5
2          3.3
3          3.0
4          4.0
          ...
1127604    3.5
1127605    3.5
1127606    4.0
1127607    4.5
1127608    4.0
Name: customer_rating, Length: 1127609, dtype: float64

In [26]:
df12['customer_city'].value_counts()

Mumbai           140536
Delhi            122365
Bangalore        101416
Chennai           83646
Pune              67703
Kolkata           65767
Ahmedabad         50861
Hyderabad         44573
Jaipur            40453
Surat             40400
Nagpur            37211
Kanpur            34334
Lucknow           34077
Indore            33592
Coimbatore        26695
Kochi             24940
Visakhapatnam     22167
Patna             21339
Vadodara          21078
Bhubaneswar       20472
Chandigarh        19575
Ludhiana          18891
Saharanpur         6705
Meerut             6641
Bareilly           6590
Aligarh            6407
Allahabad          6030
Varanasi           5897
Gorakhpur          5867
Moradabad          5855
New Delhi           304
Mumbai              304
Kolkata             294
Bombay              289
Banglore            287
KOLKATA             285
CHENNAI             285
delhi               283
Delhi NCR           282
chenai              280
mumba               279
Bengalore           277
BANGALORE           277
Chennai             276
Bengaluru           266
Madras              266
Calcutta            264
kolkata             257
MUMBAI              236
DELHI               235
Name: customer_city, dtype: int64

In [27]:
df12['customer_city'].nunique()

50

In [28]:
df12['customer_city'].value_counts().nunique()

46

In [ ]:
# 4.Standardization of  all city names  to its original


df12['customer_city'] = df12['customer_city'].replace(
    ["DELHI", "Delhi NCR", "delhi", "New Delhi" ],
      "Delhi"
)

df12['customer_city'] = df12['customer_city'].replace(
    ["Kolkata ", "KOLKATA", "Calcutta", "kolkata" ],
      "Kolkata"
)

df12['customer_city'] = df12['customer_city'].replace(
    ["Madras", "Chennai ", "chenai", "CHENNAI" ],
      "Chennai"
)

df12['customer_city'] = df12['customer_city'].replace(
    ["Mumbai ", "MUMBAI", "mumba", "Bombay" ],
      "Mumbai"
)

df12['customer_city'] = df12['customer_city'].replace(
    ["Bengaluru", "BANGALORE", "Bengalore", "Banglore" ],
      "Bangalore"
)

In [31]:
df12['is_prime_member'].value_counts()

False    635593
True     390675
FALSE     21086
0         21078
No        20728
Yes       12894
1         12871
TRUE      12684
Name: is_prime_member, dtype: int64

In [ ]:
# 5. Converting all boolean columns to consistent True/False format.



df12['is_prime_member'] = df12['is_prime_member'].replace(
    ["0", "No","False ","FALSE",], "False"
)
df12['is_prime_member'] = df12['is_prime_member'].replace(
    ["1", "Yes","True ","TRUE"], "True"
)
df12['is_prime_eligible'] = df12['is_prime_eligible'].replace(
    ["0", "No","False ","FALSE",], "False"
)
df12['is_prime_eligible'] = df12['is_prime_eligible'].replace(
    ["1", "Yes","True ","TRUE"], "True"
)
df12['is_festival_sale'] = df12['is_festival_sale'].replace(
    ["0", "No","False ","FALSE",], "False"
)
df12['is_festival_sale'] = df12['is_festival_sale'].replace(
    ["1", "Yes","True ","TRUE"], "True"
)

In [34]:
df12['category'].value_counts()

Electronics                  1126726
Electronic                       229
ELECTRONICS                      225
Electronics & Accessories        218
Electronicss                     211
Name: category, dtype: int64

In [36]:
df12['category'] = df12['category'].replace(
    ["Electronic","ELECTRONICS","Electronics & Accessories","Electronicss"], 
    "Electronics"
)

In [37]:
df12['delivery_days'].value_counts()

3           288488
1           210462
4           206438
5           136608
2           126280
6           102668
7            34116
-1            6836
1-2 days      4534
Same Day      4469
Express       2317
0             2218
15            2175
Name: delivery_days, dtype: int64

In [ ]:
# 6. '. Standardization of category names across the dataset and ensure consistent naming conventions.



df12['original_delivery_days'] = df12['delivery_days']
day=['0','1','2','3','4','5','6','7']
def delivery(row):
    days = str(row['delivery_days'])
    type = row['delivery_type']
    prime_user = row['is_prime_member']
    if days in day:
       return int(days)
    elif days == '-1':
        if type == 'Same Day' or 'Express':
            return 0
        elif type == 'Standard' and prime_user is True:
            return 1
        else:
            return 2
    elif days == '1-2 days':
        if type == 'Same Day' or 'Express':
            return 1
        elif type == 'Standard' and prime_user is True:
            return 2
        else:
            return 3
    elif days == 'Express':
        if type == 'Same Day' or 'Express':
            return 0
        elif type == 'Standard' and prime_user is True:
            return 1
        else:
            return 2
    elif days == 'Same Day':
        if type == 'Same Day' or 'Express':
            return 0
        elif type == 'Standard' and prime_user is True:
            return 1
        else:
            return 2
    elif days == '15':
        if type == 'Same Day' or 'Express':
            return 1
        elif type == 'Standard' and prime_user is True:
            return 3
        else:
            return 5

df12['delivery_days'] = df12.apply(delivery, axis=1)

In [ ]:
# 8. Identifing and handling duplicate transactions where the same customer, product, date, and amount appear multiple times

df12 = df12.drop_duplicates(subset=['customer_id','product_name','order_date'], keep='first')
df12 = df12.reset_index(drop=True)
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121996 entries, 0 to 1121995
Data columns (total 39 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   transaction_id            1121996 non-null  object
 1   order_date                1121996 non-null  datetime64[ns]
 2   customer_id               1121996 non-null  object
 3   product_id                1121996 non-null  object
 4   product_name              1121996 non-null  object
 5   category                  1121996 non-null  object
 6   subcategory               1121996 non-null  object
 7   brand                     1121996 non-null  object
 8   original_price_inr        1121996 non-null  float64
 9   discount_percent          1121996 non-null  float64
 10  discounted_price_inr      1121996 non-null  float64
 11  quantity                  1121996 non-null  int64
 12  subtotal_inr              1121996 non-null  float64
 13  delivery_charges          1032236 non-null  float64
 14  final_amount_inr          1121996 non-null  float64
 15  customer_city             1121996 non-null  object
 16  customer_state            1121996 non-null  object
 17  customer_tier             1121996 non-null  object
 18  customer_spending_tier    1121996 non-null  object
 19  customer_age_group        987356 non-null   object
 20  payment_method            1121996 non-null  object
 21  delivery_days             1121996 non-null  int64
 22  delivery_type             1121996 non-null  object
 23  is_prime_member           1121996 non-null  object
 24  is_festival_sale          1121996 non-null  object
 25  festival_name             348179 non-null   object
 26  customer_rating           1121996 non-null  float64
 27  return_status             1121996 non-null  object
 28  order_month               1121996 non-null  int64
 29  order_year                1121996 non-null  int64
 30  order_quarter             1121996 non-null  int64
 31  product_weight_kg         1121996 non-null  float64
 32  is_prime_eligible         1121996 non-null  object
 33  product_rating            1121996 non-null  float64
 34  original_order_date       1121996 non-null  object
 35  is_valid_date             1121996 non-null  bool
 36  before_parse_price        1121996 non-null  object
 37  original_customer_rating  782016 non-null   float64
 38  original_delivery_days    1121996 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(10), int64(5), object(22)
memory usage: 326.4+ MB

In [ ]:
# 9 . Outlier Detection and Removal using IQR method
# df = df.copy()

#  Compute expected price (per unit)
df12['expected_price'] = df12['final_amount_inr'] / df12['quantity']

#  IQR bounds for outlier detection
Q1 = df12['original_price_inr'].quantile(0.25)
Q3 = df12['original_price_inr'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Get outliers first (don’t drop yet)
outliers = df12[(df12['original_price_inr'] < lower_bound) | (df12['original_price_inr'] > upper_bound)].copy()

#  Function to correct decimal errors
def correct_decimal(row):
    orig = row['original_price_inr']
    exp = row['expected_price']
    
    if pd.isna(exp) or exp == 0:  # avoid invalid division
        return orig
    
    ratio = round(orig / exp, 2)
    if ratio == 10:
        return orig / 10
    elif ratio == 100:
        return orig / 100
    elif ratio == 1000:
        return orig / 1000
    else:
        return orig

#  Correct only the outliers
outliers['corrected_price'] = outliers.apply(correct_decimal, axis=1)

#  Update corrected prices back into df
df12.loc[outliers.index, 'original_price_inr'] = outliers['corrected_price']

#  Re-check IQR after correction and remove remaining true outliers
Q1 = df12['original_price_inr'].quantile(0.25)
Q3 = df12['original_price_inr'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df12 = df12[(df12['original_price_inr'] >= lower_bound) & (df12['original_price_inr'] <= upper_bound)].copy()

#  Clean final DataFrame
df12.drop(['expected_price'], axis=1, inplace=True)
df12.reset_index(drop=True, inplace=True)

df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083620 entries, 0 to 1083619
Data columns (total 39 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   transaction_id            1083620 non-null  object
 1   order_date                1083620 non-null  datetime64[ns]
 2   customer_id               1083620 non-null  object
 3   product_id                1083620 non-null  object
 4   product_name              1083620 non-null  object
 5   category                  1083620 non-null  object
 6   subcategory               1083620 non-null  object
 7   brand                     1083620 non-null  object
 8   original_price_inr        1083620 non-null  float64
 9   discount_percent          1083620 non-null  float64
 10  discounted_price_inr      1083620 non-null  float64
 11  quantity                  1083620 non-null  int64
 12  subtotal_inr              1083620 non-null  float64
 13  delivery_charges          996930 non-null   float64
 14  final_amount_inr          1083620 non-null  float64
 15  customer_city             1083620 non-null  object
 16  customer_state            1083620 non-null  object
 17  customer_tier             1083620 non-null  object
 18  customer_spending_tier    1083620 non-null  object
 19  customer_age_group        953514 non-null   object
 20  payment_method            1083620 non-null  object
 21  delivery_days             1083620 non-null  int64
 22  delivery_type             1083620 non-null  object
 23  is_prime_member           1083620 non-null  object
 24  is_festival_sale          1083620 non-null  object
 25  festival_name             335610 non-null   object
 26  customer_rating           1083620 non-null  float64
 27  return_status             1083620 non-null  object
 28  order_month               1083620 non-null  int64
 29  order_year                1083620 non-null  int64
 30  order_quarter             1083620 non-null  int64
 31  product_weight_kg         1083620 non-null  float64
 32  is_prime_eligible         1083620 non-null  object
 33  product_rating            1083620 non-null  float64
 34  original_order_date       1083620 non-null  object
 35  is_valid_date             1083620 non-null  bool
 36  before_parse_price        1083620 non-null  object
 37  original_customer_rating  755303 non-null   float64
 38  original_delivery_days    1083620 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(10), int64(5), object(22)
memory usage: 315.2+ MB

In [44]:
df12['payment_method'].value_counts()

UPI            369587
COD            310640
Credit Card    165213
Debit Card     134389
Net Banking     62228
Wallet          21782
BNPL            19781
Name: payment_method, dtype: int64

In [45]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083620 entries, 0 to 1083619
Data columns (total 39 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   transaction_id            1083620 non-null  object
 1   order_date                1083620 non-null  datetime64[ns]
 2   customer_id               1083620 non-null  object
 3   product_id                1083620 non-null  object
 4   product_name              1083620 non-null  object
 5   category                  1083620 non-null  object
 6   subcategory               1083620 non-null  object
 7   brand                     1083620 non-null  object
 8   original_price_inr        1083620 non-null  float64
 9   discount_percent          1083620 non-null  float64
 10  discounted_price_inr      1083620 non-null  float64
 11  quantity                  1083620 non-null  int64
 12  subtotal_inr              1083620 non-null  float64
 13  delivery_charges          996930 non-null   float64
 14  final_amount_inr          1083620 non-null  float64
 15  customer_city             1083620 non-null  object
 16  customer_state            1083620 non-null  object
 17  customer_tier             1083620 non-null  object
 18  customer_spending_tier    1083620 non-null  object
 19  customer_age_group        953514 non-null   object
 20  payment_method            1083620 non-null  object
 21  delivery_days             1083620 non-null  int64
 22  delivery_type             1083620 non-null  object
 23  is_prime_member           1083620 non-null  object
 24  is_festival_sale          1083620 non-null  object
 25  festival_name             335610 non-null   object
 26  customer_rating           1083620 non-null  float64
 27  return_status             1083620 non-null  object
 28  order_month               1083620 non-null  int64
 29  order_year                1083620 non-null  int64
 30  order_quarter             1083620 non-null  int64
 31  product_weight_kg         1083620 non-null  float64
 32  is_prime_eligible         1083620 non-null  object
 33  product_rating            1083620 non-null  float64
 34  original_order_date       1083620 non-null  object
 35  is_valid_date             1083620 non-null  bool
 36  before_parse_price        1083620 non-null  object
 37  original_customer_rating  755303 non-null   float64
 38  original_delivery_days    1083620 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(10), int64(5), object(22)
memory usage: 315.2+ MB

In [46]:
df12['customer_age_group'].value_counts()

26-35    334252
18-25    303864
36-45    191521
46-55     95149
55+       28728
Name: customer_age_group, dtype: int64

In [ ]:
# 10.Standardization of payment method categories and create a clean categorical hierarchy.



df12['delivery_charges'].fillna(0.0, inplace=True)
mode_value = df12['customer_age_group'].mode()[0]
df12['customer_age_group'].fillna(mode_value, inplace=True)
df12['festival_name'].fillna('Normal Day', inplace=True)
#Removing created columns after data cleaning
df12.drop(['original_order_date', 'is_valid_date', 'before_parse_price', 'original_customer_rating', 'original_delivery_days'], axis=1, inplace=True)

In [49]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083620 entries, 0 to 1083619
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1083620 non-null  object
 1   order_date              1083620 non-null  datetime64[ns]
 2   customer_id             1083620 non-null  object
 3   product_id              1083620 non-null  object
 4   product_name            1083620 non-null  object
 5   category                1083620 non-null  object
 6   subcategory             1083620 non-null  object
 7   brand                   1083620 non-null  object
 8   original_price_inr      1083620 non-null  float64
 9   discount_percent        1083620 non-null  float64
 10  discounted_price_inr    1083620 non-null  float64
 11  quantity                1083620 non-null  int64
 12  subtotal_inr            1083620 non-null  float64
 13  delivery_charges        1083620 non-null  float64
 14  final_amount_inr        1083620 non-null  float64
 15  customer_city           1083620 non-null  object
 16  customer_state          1083620 non-null  object
 17  customer_tier           1083620 non-null  object
 18  customer_spending_tier  1083620 non-null  object
 19  customer_age_group      1083620 non-null  object
 20  payment_method          1083620 non-null  object
 21  delivery_days           1083620 non-null  int64
 22  delivery_type           1083620 non-null  object
 23  is_prime_member         1083620 non-null  object
 24  is_festival_sale        1083620 non-null  object
 25  festival_name           1083620 non-null  object
 26  customer_rating         1083620 non-null  float64
 27  return_status           1083620 non-null  object
 28  order_month             1083620 non-null  int64
 29  order_year              1083620 non-null  int64
 30  order_quarter           1083620 non-null  int64
 31  product_weight_kg       1083620 non-null  float64
 32  is_prime_eligible       1083620 non-null  object
 33  product_rating          1083620 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(5), object(19)
memory usage: 281.1+ MB

In [ ]:
# Final cleaned Dataset


df12.to_csv("Amazon_final_Dataset.csv", index=False)